body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #a3d9f0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0px;
  padding: 0px;    
  box-sizing: border-box;
}
/*
Footer 
*/
footer{
  background-color: #0E333C;
}
footer p{
  color: #fff; 
  margin-left: 30px;
  font-size: 1.5vw;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
#footer{
  display: flex;
  justify-content: space-between;
}
#map{
  margin-bottom: 20px;
}

/*
login
*/
form{
  font-family: 'Solway', 'Arial', sans-serif;
  margin-bottom: 350px;
  margin-top: 50px;
}
.formCreate1{
  background-color: rgba(251, 253, 255, 0.4);
  width: 30%;
  margin: auto;
  height: 250px
}
.input{
  margin: 10px 0px 30px auto;
  width: 90%;
  padding: 10px;
  background-color: #29638A;
  color: white;
}
.label{
  font-size: 20px;
  text-align: center;
}
.login{
  font-size: 20px;
  padding: 5px;
  background-color: #FFDF59;
  border-radius: 10px;
  border: 3px  #29638A solid;
  margin: 5px 0px 5px 40px;
  width: 70%;
  font-family: 'Solway', 'Arial', sans-serif;
}
.crearCuenta{
  text-decoration: none;
  color: #29638A;
  margin-left: 120px;
  width: 100%;
  font-family: 'Solway', 'Arial', sans-serif;
}